.card{
    width: 50px;
    height: 200px;
    position: fixed;
    display: flex;
    background-color: rgb(255, 0, 0);
    font-size: 15px;
    padding-bottom: 15px;
    padding-left: 100px;
    padding-top :10px;
    color:white;
    z-index: 100;
    margin-top:200px;
    margin-left:30px;

}