.footer{
    width: 100%;
    position: fixed;
    display: grid;
    background-color: grey;
    font-size: 15px;
    padding-bottom: 15px;
    padding-left: 100px;
    padding-top :10px;
    color:white;
    bottom: 0;

}